body {
  background-color: #addbcd; }

.logo {
  background-image: url("../images/site_logo.png");
  display: block;
  width: 300px;
  height: 300px;
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 24px auto; }

.app_store {
  display: block;
  width: 300px;
  text-align: center;
  margin: 0 auto; }
  .app_store a {
    color: #3b927a; }
